<h1>Book Details</h1>
<p><strong>Title of Book:</strong> {{ book.title }}</p>
<p><strong>Publication Date:</strong> {{ book.publicationDate | date }}</p>
<p><strong>Author:</strong> {{ book.author.username }}</p>
